<div id="<%= dom_id stock %>">
  <p>
    <strong>Ticker:</strong>
    <%= stock.ticker %>
  </p>

  <div class="actions">
     <%= f.submit "Create Stock", class: 'btn btn-secondary' %>
  </div>

</div>
