 <div class="col-md-6 offset-md-3">

    <div class="jumbotron">     


      <h2>New stock</h2>

      <%= render "form", stock: @stock %>

      <br>

      <div>
        <%= link_to "Back to stocks", stocks_path %>
      </div>

    </div>

</div>
